ul {
  list-style: none;
}

body{
  background-color: #8a95e5;
  color: black;
}

label{
  color: white;
}
a{
  color: #e3e0e0;
}

.jumbotron {
  text-align: center;
  background-color: #cee8ff;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.articles {
  border-color: #e3e0e0;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.form-control{
  margin-bottom: 10px;
  width: 50%;
  margin-left: 25%;
}

.form-group {
  text-align: center
}

.results {
  padding-left: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
